* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #EA5455;
    width: 300px;
    height: 610px;
    border-radius: 7px;
    margin-top: 5em;
}

.Titulo {
    margin: 1em 2em 1em 2em;
    text-align: center;
    color: #ffffff;
}

.contenido {
    margin: 2em 2em 1em 2em;
}

label {
    margin-left: 15px;
    color: #0e0300;
}

input {
    width: 220px;
    height: 30px;
    border-radius: 4px;
    margin-left: 1em;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

.boton1 {
    padding: 10px 15px 10px 15px;
    background-color: #002B5B;
    color: white;
    border: springgreen;
    margin: 1em;
}

.columna {
    margin: 3em 3em 3em 3em;
}

thead {
    background-color: #EA5455;
}

th {
    padding: 5px 5px 5px 5px;
    color: white;
}